<%- include('./partials/header.ejs')%>
	<main>
		<h1>About</h1>
		<h3>This website is provides the best sports equipment throughout the internet.</h3>
		<h3>We have worked tirelessly to craft the best equipment, so look no further, you've come to the right place!</h3>
	</main>
<%- include('./partials/footer.ejs')%>