<%- include('./partials/header.ejs')%>
	<main>
		<h1>Contact:</h1>
		<h3><u>Name:</u> Sports Exchange</h3>
        <h3><u>Email:</u> sportsexchange@sports.com</h3>
        <h3><u>LinkedIn:</u> linkedin.com/in/sportsexchange</h3>
	</main>
<%- include('./partials/footer.ejs')%>