<%- include('./partials/header.ejs')%>
	<main>
		<h1>Welcome to Sports Exchange!</h1>
		<h3>We are the leading sports merchandise trading platform throughout the world.</h3>
		<h3>Please feel free to navigate throughout our site and don't forget to "exchange your heart out!"</h3>
	</main>
<%- include('./partials/footer.ejs')%>