<footer>
    <br>
    <div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&#169; Sports Exchange</p>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact">Contact</a> &nbsp;&nbsp;&nbsp;&nbsp; 
        <a href="https://html5.validator.nu/">Validate HTML</a> 
    </div>
    <br>
</footer>
</body>

</html>