<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link href="/css/default.css" rel="stylesheet" type="text/css">
</head>


<body>
	<div class="header-nav">
		<header>
			<div style="position: relative; left: 20px"><h1><a href='/'><img src="../images/sportsexchange.png" style="width:150px;height:140px;" alt="Logo"></a></h1> </div>
			<div class="topright"><a href='/items/new'>Start Trading</a> | <a href="">Login</a> | <a href="">Sign Up</a></div>
		</header>
		<hr>
		<nav style="text-align: center;">
			<a href='/'>Home</a>
			||
			<a href='/items'>Trades Page</a>
			||
			<a href="/items/new">New Trade</a>
		</nav>
	</div>